body {
  background-color: #d5e1ef;
  font-family: outfit;
  /* margin-block: 1rem; */
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  inline-size: 320px;
  block-size: 516px;
  /* border: 3px solid red; */
  border-radius: 22px;
  position: relative;
}
qr-code,
img {
  /* width: 288px;
    height: 288px; */

  /* same as using the height and width property */
  width: 288px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
  margin-inline: 16px;
  margin-block: 16px;
}
.text {
  /* border: 2px solid red; */
  position: absolute;
  top: 328px;
  left: 16px;
}
.text > h1 {
  /* border: 2px solid blue; */
  inline-size: 256px;
  block-size: 56px;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0px;
  margin-inline: 16px;
  margin-block: 17px;
}

/* .text>p{

} */
